@media (max-width: 376px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
        }

    .top {
        height: 735px;

        &__title {
        font-size: 32px;
        line-height: 39px;
        padding-top: 238px;
        padding-bottom: 32px;
        text-align: center;
        }
        
        &__text {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 32px;
        text-align: center;
        }

        &__button {
            margin-bottom: 238px;
            width: 234.06px;
            height: 48.6px;
            left: 120px;
            top: 482.11px;
            background: #9C0332;
            border-radius: 30px;
            border: none;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: #FFFFFF;
            margin-right: 70px;
            margin-left: 60px;
            }
    }

    .menu {
        background-color: rgba(0, 9, 21, 1);
        padding-top: 128px;
        padding-bottom: 128px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12, 1fr);
        display: flex;
        flex-direction: column;
        
            &__game1 {
            grid-column: span 4;
            background-image: url(img/game1.jpg);
            border-radius: 16px;
            height: 300px;
            }
            
            &__game2 {
            grid-column: span 4;
            background-image: url(img/game2.jpg);
            border-radius: 16px;
            height: 300px;
            }
            
            &__game3 {
            grid-column: span 4;
            background-image: url(img/game3.jpg);
            border-radius: 16px;
            height: 300px;
            }
            
            &__game_link {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: white;
            padding-top: 236px;
            padding-left: 32px;
            }
        }
    
}