* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  height: 1024px;
  background-image: url(img/bgi.jpg);
}
.top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: white;
  padding-top: 217px;
  padding-bottom: 32px;
}
.top__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: white;
  padding-bottom: 57px;
}
.top__button {
  width: 234.06px;
  height: 48.6px;
  left: 120px;
  top: 482.11px;
  background: #9C0332;
  border-radius: 30px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
}

.menu {
  background-color: rgb(0, 9, 21);
  padding-top: 128px;
  padding-bottom: 128px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.menu__game1 {
  grid-column: span 4;
  background-image: url(img/game1.jpg);
  border-radius: 16px;
  height: 300px;
}
.menu__game2 {
  grid-column: span 4;
  background-image: url(img/game2.jpg);
  border-radius: 16px;
  height: 300px;
}
.menu__game3 {
  grid-column: span 4;
  background-image: url(img/game3.jpg);
  border-radius: 16px;
  height: 300px;
}
.menu__game_link {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: white;
  padding-top: 236px;
  padding-left: 32px;
}

.box {
  padding-top: 234px;
  padding-bottom: 234px;
  background-color: #000915;
  display: flex;
  gap: 135px;
}
.box__items {
  padding-top: 48px;
  padding-bottom: 48px;
}
.box__items_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.box__items_text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.box__items_button {
  width: 234.06px;
  height: 48.6px;
  left: 0px;
  top: 187px;
  background: #9C0332;
  border-radius: 30px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
}
.box__img {
  height: 333px;
}

@media (max-width: 376px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
  }
  .top__title {
    font-size: 32px;
    line-height: 39px;
    padding-top: 238px;
    padding-bottom: 32px;
    text-align: center;
  }
  .top__text {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 32px;
    text-align: center;
  }
  .top__button {
    margin-bottom: 238px;
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    margin-right: 70px;
    margin-left: 60px;
  }
  .menu {
    background-color: rgb(0, 9, 21);
    padding-top: 128px;
    padding-bottom: 128px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    display: flex;
    flex-direction: column;
  }
  .menu__game1 {
    grid-column: span 4;
    background-image: url(img/game1.jpg);
    border-radius: 16px;
    height: 300px;
  }
  .menu__game2 {
    grid-column: span 4;
    background-image: url(img/game2.jpg);
    border-radius: 16px;
    height: 300px;
  }
  .menu__game3 {
    grid-column: span 4;
    background-image: url(img/game3.jpg);
    border-radius: 16px;
    height: 300px;
  }
  .menu__game_link {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: white;
    padding-top: 236px;
    padding-left: 32px;
  }
  .box {
    padding-top: 51px;
    padding-bottom: 85px;
    background-color: #000915;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .box__items {
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box__items_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 32px;
    display: flex;
  }
  .box__items_text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 32px;
    align-items: center;
    text-align: center;
  }
  .box__items_button {
    width: 234.06px;
    height: 48.6px;
    left: 0px;
    top: 187px;
    background: #9C0332;
    border-radius: 30px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
  }
  .box__img {
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */